
        <div class="container">
            <div class="card">
                <h5 class="card-header">Account informations</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">IBAN</div><div class="col-6">{{account.iban}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">Balance</div><div class="col-6">{{account.balance}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">CCy</div><div class="col-6">{{account.currency}}</div>
                    </div>
                </div>
            </div>         
        </div>

            